body {
    background-color: #16365d;
}

.head1{
    text-align: right;
    color: white;
}
p {
    color:red;
    color:white;
    color:blueviolet;
    color:white;
    color:white
}
p{
    color: white;
}
